<!-- *ngFor="let post of feed; let i = index" -->
<ion-card class="insta-card ion-no-margin ion-margin-vertical">
  <ion-item class="user-info" button lines="none" routerLink="/profile" routerDirection="forward">
    <ion-avatar slot="start">
      <img [src]="post.picture.thumbnail">
    </ion-avatar>
    <ion-label>
      <h3>{{ post.name.title }} {{ post.name.first }} {{ post.name.last }}</h3>
      <p>{{ post.email }}</p>
    </ion-label>
    <ion-icon name="ellipsis-vertical-outline" slot="end"></ion-icon>
  </ion-item>
  <div class="post-image ion-align-items-center">
    <img [src]="randomImage()"/>
  </div>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="chatbubble-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="paper-plane-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="bookmark-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-card-content>
    <p class="likes">22 Likes</p>
    <p class="post-caption"><strong>{{ post.name.first }} {{ post.name.last }}</strong> is content, without any paragraph or header tags,
      within an ion-card-content element.</p>
  </ion-card-content>
  <ion-item class="user-info" button lines="none" routerLink="/profile" routerDirection="forward">
    <ion-avatar slot="start">
      <img [src]="post.picture.thumbnail">
    </ion-avatar>
    <ion-input placeholder="Comment"></ion-input>
    <ion-icon name="add-circle-outline" slot="end"></ion-icon>
  </ion-item>
</ion-card>
